<section class="products">
  <p>100% NATURAL</p>
  <h2 class="products__header">
      PRODUCTS
  </h2>
  <ul class="products__list" >
    <li class="products__item">
      <img class="products__img" src="" alt="">
      <h3 class="products__title">
        ICE CREAM
      </h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
         sed do eiusmod tempor incididunt ut labore et.
          dolore magna
        aliqua facilisis.
      </p>
    </li>
    <li class="products__item">
      <img class="products__img" src="" alt="">
      <h3 class="products__title">
        ICE COFFEE
      </h3>
      <p class="products__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et.
      dolore magna
      aliqua facilisis.
      </p>
          </li>
    <li class="products__item">
      <img class="products__img" src="" alt="">
      <h3 class="products__title">
       MILKSHAKES
      </h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et.
        dolore magna
        aliqua facilisis.
      </p>
    </li>
  </ul>
</section>
